
body{
background-color: #457879

}
.Fondo{
  background-color: white


}
#Titulo {
  margin-left: 12em;
}
.Conversación {
  margin-left: 4em;
  margin-right: 4em;
  background-color: #233c42;
  color: white;
  border: solid;
  border-radius: 1em;
  padding: 0px;
}
.Fondo_Conversación{
  background-color: #eceadc;
  margin: 5px;
}
.Emissor{
  background-color: #fcfefc;
  margin-left: 5em;
  margin-right: 8em;
  border-radius: 1em;
  border: solid;
  border-width: 1px;
  padding: none;
}
